@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CascadiaCode-Italic-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: italic;
}

h2 {
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 600;
    color: purple;
    font-style: italic;
}