:host {
    display: block;
    border: 1px solid #ddd;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 0;
    width: 300px;
    float: left;
}

:host(:hover) {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

:host([tema="primario"]){
    background-color: blue;
    color: lightyellow;
}

:host([tema="secundario"]){
    background-color: lightyellow;
    color: blue;
}