input {
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.is-invalid {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
.error-text {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}